*.dart linguist-detectable=true
*.cmake linguist-detectable=false
*.html linguist-detectable=false
*.c linguist-detectable=false
*.cplusplus linguist-detectable=false
*.cmake linguist-detectable=false
*.objectivec linguist-detectable=false

